/*SOBRE MI*/
.bodySobreMi {
  background-color: black;
  background-image: url(../img/comoLeerPartituras.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.sectionBio {
  background-image: url(../img/oeba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
